In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df = pd.get_dummies(df, columns=['home_ownership','verification_status','hardship_flag','initial_list_status','application_type'])

df = df.drop(['issue_d','debt_settlement_flag','pymnt_plan','next_pymnt_d'],axis=1)

#pd.set_option('display.max_columns', None)
df.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,hardship_flag_N,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,0,1,0,1,0,1,0,1,1,0
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,0,0,0,0,1,1,0,1,1,0
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,0,0,0,0,1,1,0,1,1,0
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,0,1,0,0,1,1,0,1,1,0
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,0,0,1,0,0,1,0,1,1,0

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.copy()
X = X.drop("loan_status", axis=1)

# Create our target
y = df["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,hardship_flag_N,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.106747,0.357659,0.478007,0.373992,0.148001,1.0,0.123879,0.876121,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.308793,0.479314,0.499520,0.483865,0.355104,0.0,0.329446,0.329446,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,1.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.0,0.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [8]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=50,train_size=0.7)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaler = scaler.fit(X)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Resample the training data with SMOTEENN
# Warning: This is a large dataset, and this step may take some time to complete
from imblearn.combine import SMOTEENN
smote_enn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smote_enn.fit_resample(X_train_scaled, y_train)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [11]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf_model = brf.fit(X_resampled, y_resampled)
predictions = brf_model.predict(X_test_scaled)

In [12]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
acc_score = accuracy_score(y_test,predictions)
print(acc_score)

0.9955923665601085

In [13]:
# Display the confusion matrix
cm = confusion_matrix(y_test,predictions)
cm_df = pd.DataFrame(cm,index=['Actual high','Actual low'],columns=['Predicted high','Predicted low'])
cm_df

             Predicted high  Predicted low
Actual high              30             81
Actual low               10          20525

In [14]:
# Print the imbalanced classification report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

   high_risk       0.75      0.27      0.40       111
    low_risk       1.00      1.00      1.00     20535

    accuracy                           1.00     20646
   macro avg       0.87      0.63      0.70     20646
weighted avg       0.99      1.00      0.99     20646

In [15]:
# List the features sorted in descending order by feature importance
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.07182091249932339, 'inq_last_6mths'),
 (0.042729943957236324, 'total_rec_prncp'),
 (0.04163367333334128, 'total_pymnt'),
 (0.04025864803666499, 'total_pymnt_inv'),
 (0.03963232933742561, 'open_il_12m'),
 (0.033898859741422316, 'inq_fi'),
 (0.029893871355376564, 'open_acc_6m'),
 (0.028748942029876524, 'int_rate'),
 (0.027020176185021817, 'inq_last_12m'),
 (0.026673999051869752, 'pct_tl_nvr_dlq'),
 (0.02465307878822926, 'last_pymnt_amnt'),
 (0.024054351090407194, 'total_rec_int'),
 (0.02359803780163872, 'open_il_24m'),
 (0.020483480802081722, 'verification_status_Source Verified'),
 (0.01944256533096814, 'verification_status_Not Verified'),
 (0.017413989175502534, 'mo_sin_rcnt_tl'),
 (0.0165374588766609, 'total_cu_tl'),
 (0.015790002468411727, 'mo_sin_rcnt_rev_tl_op'),
 (0.015627940239944915, 'num_tl_op_past_12m'),
 (0.014560867179909606, 'num_accts_ever_120_pd'),
 (0.01448724595329278, 'installment'),
 (0.014186492097067592, 'open_act_il'),
 (0.013995078342492364, 'open_rv_12m'),
 (0.0137401520360725, 'out_prncp'),
 (0.013598256416740548, 'num_actv_bc_tl'),
 (0.013522606071609218, 'home_ownership_RENT'),
 (0.01323160408788884, 'delinq_2yrs'),
 (0.01244306125945861, 'home_ownership_MORTGAGE'),
 (0.012245638931095362, 'mths_since_recent_inq'),
 (0.012172177016533716, 'loan_amnt'),
 (0.011486599210011175, 'verification_status_Verified'),
 (0.011161110020942739, 'mths_since_rcnt_il'),
 (0.011151715773377719, 'out_prncp_inv'),
 (0.010551777175515007, 'mort_acc'),
 (0.010345700596016418, 'num_bc_sats'),
 (0.009982668200071852, 'open_rv_24m'),
 (0.009869082934118718, 'num_rev_tl_bal_gt_0'),
 (0.009164717993602484, 'percent_bc_gt_75'),
 (0.009132826141409856, 'num_actv_rev_tl'),
 (0.009043699764593106, 'mths_since_recent_bc'),
 (0.00859785751827844, 'acc_open_past_24mths'),
 (0.007599291115756382, 'num_bc_tl'),
 (0.007202477003609771, 'bc_open_to_buy'),
 (0.007146017818394097, 'il_util'),
 (0.007030695556569333, 'all_util'),
 (0.006873218615216239, 'num_il_tl'),
 (0.006831171344124432, 'num_op_rev_tl'),
 (0.006468661962486027, 'total_bc_limit'),
 (0.006456892051610018, 'mo_sin_old_rev_tl_op'),
 (0.00645448963497621, 'num_sats'),
 (0.0062934351046337175, 'annual_inc'),
 (0.006280109563360495, 'open_acc'),
 (0.006016726154640394, 'avg_cur_bal'),
 (0.005955998422538899, 'max_bal_bc'),
 (0.005825091808907473, 'mo_sin_old_il_acct'),
 (0.005552967449478649, 'total_bal_ex_mort'),
 (0.00555211880758332, 'total_acc'),
 (0.005534801976312976, 'num_rev_accts'),
 (0.005531683149714846, 'total_rev_hi_lim'),
 (0.005503710637620174, 'bc_util'),
 (0.005455546545177876, 'total_il_high_credit_limit'),
 (0.0052251046272390675, 'tot_cur_bal'),
 (0.0052010723215011045, 'home_ownership_OWN'),
 (0.005120178812534333, 'tot_hi_cred_lim'),
 (0.005119106185015158, 'total_bal_il'),
 (0.005079995517008601, 'total_rec_late_fee'),
 (0.0050061298536597755, 'revol_bal'),
 (0.004434142778298105, 'tot_coll_amt'),
 (0.0043465476083647085, 'dti'),
 (0.0022885902545466356, 'application_type_Joint App'),
 (0.002254738668549282, 'initial_list_status_f'),
 (0.002250102909589555, 'initial_list_status_w'),
 (0.0022035706811065476, 'pub_rec_bankruptcies'),
 (0.002162206018949646, 'pub_rec'),
 (0.0020694031401666687, 'application_type_Individual'),
 (0.0019721159016197988, 'num_tl_90g_dpd_24m'),
 (0.0005085836088770005, 'collections_12_mths_ex_med'),
 (0.0003475086302193746, 'chargeoff_within_12_mths'),
 (0.0002626029385409486, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [18]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier 
eec = EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [19]:
eec_model = eec.fit(X_resampled,y_resampled)
predictions = eec_model.predict(X_test_scaled)

In [20]:
# Calculated the balanced accuracy score
print(accuracy_score(y_test,predictions))

0.9818366753850625

In [21]:
# Display the confusion matrix
cm = confusion_matrix(y_test,predictions)
cm_df = pd.DataFrame(data=cm, index=['Actual high','Actual low'],columns=['Predicted high','Predicted low'])
cm_df

             Predicted high  Predicted low
Actual high              45             66
Actual low              309          20226

In [22]:
# Print the imbalanced classification report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

   high_risk       0.13      0.41      0.19       111
    low_risk       1.00      0.98      0.99     20535

    accuracy                           0.98     20646
   macro avg       0.56      0.70      0.59     20646
weighted avg       0.99      0.98      0.99     20646